html {
    display: block;
    text-align: center;
}

* {
    font-family: 'Avenir', Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgrey;
}

#setupContainer {
    margin: 20px;

}

#mainContainer {
    background-image: url('../assets/Sea.png');
    margin: 20px;
    width: 1203px;
    height: 600px;
    border: 1px solid black;
}

#setupForm {
    margin-top: 195px;
    margin-right: 30px;
    height: 110px;
    padding: 5px;
    float: right;
    font-size: 1.1em;
    border: 3px solid black;
}

#setupForm fieldset {
    margin-top: 5px;
    padding: 5px;
    border-color: black;
}

#setupForm button,
#setupForm input {
    font-size: 1.05em;
}

#setupForm button {
    margin: 5px 0;
    width: 110px;
    height: 33px;
    color: white;
    background-color: grey;
    border: none;
}

.setup {
    height: 500px;
    width: 500px;
    display: inline-flex;
    flex: 2;
    flex-wrap: wrap;
    background-image: url('../assets/Sea.png');

}

.setup .square {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    /* background-color: blue; */

}

.setup .square.ship {
    background-color: black;

}

.hide {
    display: none;
}

.player {
    margin: 50px;
    height: 500px;
    width: 500px;
    display: inline-flex;
    flex: 2;
    flex-wrap: wrap;

}

.player .square {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    /* background-color: blue; */

}

.player .square.ship {
    background-color: black;

}

.hide {
    display: none;
}

.enemy {
    margin: 50px;
    height: 500px;
    width: 500px;
    display: inline-flex;
    flex: 2;
    flex-wrap: wrap;

}

.enemy .square {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    /* background-color: blue; */

}

.enemy .square.ship {
    background-color: black;

}

.hide {
    display: none;
}

.square.hit {
    background-color: red;
}

.square.miss {
    background-color: white;
}